<nav class="navbar navbar-expand-lg navbar-dark pl-3 pt-4 pb-4">
  <a class="navbar-brand" id="FarrAppHeader">
    FarrApp
  </a>
  <div class="dropdown show ml-auto" data-placement="bottom" title="Cuenta">
    <a class="btn-lg dropdown-toggle rounded-circle" href="#" role="button"
       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </a>
    <div class="dropdown-menu dropdown-menu-right border-card animate slideIn" aria-labelledby="dropdownMenuLink">

      <a class="dropdown-item" [routerLink]="['/mainPanel']" [routerLinkActive]="['activado']">
        <div class="icon d-inline p-1 rounded-circle">
          <fa-icon [icon]="faHome"></fa-icon>
        </div>
        Inicio
      </a>

      <a class="dropdown-item" [routerLink]="['/admin/dashboard']" [routerLinkActive]="['activado']"
         *ngIf="isLogged && rol== 'superAdmin'">
        <div class="icon d-inline rounded-circle"
             style="padding: 3px 3px;">
          <fa-icon [icon]="faUsersCog"></fa-icon>
        </div>
        Panel de control
      </a>

      <a class="dropdown-item" [routerLink]="['/login']" *ngIf="!isLogged" [routerLinkActive]="['activado']">
        <div class="icon d-inline rounded-circle" style="padding: 4px 5px;">
          <fa-icon [icon]="faSignInAlt"></fa-icon>
        </div>
        Iniciar sesión
      </a>

      <a class="dropdown-item" [routerLink]="['/client/register']" *ngIf="!isLogged" [routerLinkActive]="['activado']">
        <div class="icon d-inline rounded-circle" style="padding: 4px 6px;">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        Registrarse
      </a>

      <a class="dropdown-item" [routerLink]="['/admin']">
        <div class="icon d-inline rounded-circle event-icon" style="padding: 4px 3px;">
          <fa-icon [icon]="faGlassCheers"></fa-icon>
        </div>
        Eventos
      </a>

      <a class="dropdown-item" [routerLink]="['client']" [routerLinkActive]="['activado']"
         *ngIf="isLogged && rol=='client'">
        <div class="icon d-inline rounded-circle" style="padding: 4px 6px;">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        Perfil
      </a>

      <a class="dropdown-item" [routerLink]="['company']" [routerLinkActive]="['activado']"
         *ngIf="isLogged && rol=='company'">
        <div class="icon d-inline rounded-circle" style="padding: 4px 6px;">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        Perfil
      </a>

      <a class="dropdown-item" [routerLink]="['admin/profile']" [routerLinkActive]="['activado']" *ngIf="isLogged && rol=='superAdmin'">
        <div class="icon d-inline rounded-circle" style="padding: 4px 6px;">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        Perfil
      </a>

      <a class="dropdown-item" [routerLink]="['/client/security']" [routerLinkActive]="['activado']"
         *ngIf="isLogged && rol=='client'">
        <div class="icon d-inline rounded-circle" style="padding: 3px 4px;">
          <fa-icon [icon]="faKey"></fa-icon>
        </div>
        Seguridad
      </a>

      <a class="dropdown-item" [routerLink]="['/company/security']" [routerLinkActive]="['activado']"
         *ngIf="isLogged && rol=='company'">
        <div class="icon d-inline rounded-circle" style="padding: 3px 4px;">
          <fa-icon [icon]="faKey"></fa-icon>
        </div>
        Seguridad
      </a>

      <a class="dropdown-item" [routerLink]="['/admin/security']" [routerLinkActive]="['activado']"
         *ngIf="isLogged && rol=='superAdmin'">
        <div class="icon d-inline rounded-circle" style="padding: 3px 4px;">
          <fa-icon [icon]="faKey"></fa-icon>
        </div>
        Seguridad
      </a>

      <div class="dropdown-divider" style="border: 2px solid #2b2a30;" *ngIf="isLogged"></div>

      <a class="dropdown-item" (click)="logOut()" style="cursor: pointer" *ngIf="isLogged">
        <div class="icon d-inline rounded-circle" style="padding: 4px 5px;">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </div>
        Cerrar sesión
      </a>
      <div class="dropdown-divider" style="border: 2px solid #2b2a30;"></div>
      <div class="text-center mt-3 h3">
        <a class="iconRedSocial" href="https://www.facebook.com" target="_blank">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a class="iconRedSocial m-5" href="https://twitter.com/home" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a class="iconRedSocial" href="https://www.instagram.com/" target="_blank">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
