.iconSocial {
  color: #FAFAFA;
}

.copyright {
  color: #FAFAFA;
}

.termsOfService {
  color: #FF1A43;
}

footer {
  background-color: #252427;
}

#content_div_one_photo {
  opacity: 0.6;
}

#padre {
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
}


.card-title {
  top: 0;             /* posicionada en la esquina inferior derecha */
}
