<div class="d-flex align-items-center justify-content-center animate__animated animate__fadeInRight" *ngIf="admin"
     style="animation-duration: 0.2s" id="container">
  <div id="log-in">
    <div class="text-center pl-4 pr-4 pt-4 pb-4">
      <h4 class="text-white text-center mb-4">EDITAR</h4>
      <div>
        <img src="assets/icons/UserIcon.png" class="img-fluid" alt="iconUser" id="ImageUser">
        <form #formEdit="ngForm" (ngSubmit)="save()" id="form-edit">
          <div class="text-left mt-3">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="nombre" class="text-white">Nombre</label>
                  <input type="text" class="form-control color-gray" id="nombre" #name="ngModel" name="name"
                         [(ngModel)]="admin.name" required>
                  <small id="emailHelp" class="form-text text-danger" *ngIf="!name.valid && name.touched">No puedes dejar
                    este campo vacío.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="lastname" class="text-white">Apellido</label>
                  <input type="text" class="form-control color-gray" id="lastname" #lastname="ngModel" name="lastname"
                         [(ngModel)]="admin.lastname" required>
                  <small id="emailHelp" class="form-text text-danger" *ngIf="!lastname.valid && lastname.touched">No puedes dejar
                    este campo vacío.</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <button type="submit" class="btn mt-3 border-circ btn-outline-info w-100" [routerLink]="['/admin/profile']">Regresar</button>
            </div>
            <div class="col">
              <button type="submit" class="btn mt-3 border-circ btn-outline-primary w-100" [disabled]="!formEdit.valid">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
