<div class="text-center pt-5 pb-5 pl-4 pr-4 animate__animated animate__fadeInRight" style="animation-duration: 0.2s">
  <h4 class="text-white text-left">
    USUARIO PERFIL
  </h4>
  <div>
    <img src="assets/icons/UserIcon.png" class="img-fluid" alt="iconUser">
    <div class="text-left mt-5">
      <div class="border-profile mb-4">
        <label class="text-white ml-4">
          <strong>
            Nombre
          </strong></label>
        <h5 class="profile-font text-center">
          {{client.name}} {{client.lastname}}
        </h5>
      </div>
      <div class="border-profile mb-4">
        <label class="text-white ml-4">
          <strong>
            Género
          </strong></label>
        <h5 class="profile-font text-center">
          {{client.gender}}
        </h5>
      </div>
      <div class="border-profile mb-4">
        <label class="text-white ml-4">
          <strong>
            Fecha de nacimiento
          </strong></label>
        <h5 class="profile-font text-center">
          {{client.birthdate}}
        </h5>
      </div>
      <div class="border-profile mb-4">
        <label class="text-white ml-4">
          <strong>
            E-mail
          </strong></label>
        <h5 class="profile-font text-center">
          {{client.e_mail}}
        </h5>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-5">
      <button type="button" class="btn btn-success" [routerLink]="['/admin/client']">Regresar
      </button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Eliminar cuenta
      </button>
    </div>
  </div>
</div>
