.carousel-mine {
  background: #ffffff;
}

.carousel-cell-mine {
  margin-right: 20px;
  overflow: hidden;
}

.events {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1rem;
  color: #252427;
}

.events2 {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(37, 36, 39, 0.6);
}
