.carousel-mine {
  background: #ffffff;
}

.carousel-cell-mine {
  width: 28%;
  margin-left: 10px;
  margin-right: 10px;
  counter-increment: carousel-cell;
}

.events{
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #252427;
}

.events2{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgba(37, 36, 39, 0.6);
}
