.card {
  background: #FCFCFD;
  border-radius: 20px;
  margin: 3px;
  width: 31vw;
}

.card-img-top {
  width: 31vw;
}

p {
  font-family: Lovelo, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height */


  color: rgba(37, 36, 39, 0.6);
}

.title-event {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;

  color: #252427;
}

.city-title {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 13px;
  color: rgba(174, 216, 229, 0.9);
}

@media screen and (max-width: 480px) {
  .card {
    width: 90vw;
  }

  .card-img-top {
    width: 90vw;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 93vw;
  }

  .card-img-top {
    width: 93vw;
  }
}


