<div class="card">
  <img class="card-img-top"
       src="{{event.img}}" alt="Card image cap">
  <button class="like-event-like" id="like{{event.id}}" (click)="like()" *ngIf="isClient == 'client' || isClient == 'norole'">
    <fa-icon [icon]="faLike"></fa-icon>
  </button>
  <div class="card-body">
    <div>
      <div class="float-left">
        <p>{{getDate()}}</p>
      </div>
      <div class="float-right">
        <p>
          <fa-icon [icon]="faClock"></fa-icon>
          {{event.hourInit}} - {{event.hourFin}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div>
      <p class="title-event">{{event.name}}</p>
    </div>
    <div>
      <label class="city-title">
        <fa-icon [icon]="faMap"></fa-icon>
        {{event.city}}
      </label>
    </div>
  </div>
</div>
