<div class="animate__animated animate__fadeInRight myDiv" *ngIf="company">
  <div class="header-company">
    <h1 class="name-company d-block m-0 p-0">{{company.name}}</h1>
    <h2 class="nit-company m-0 p-0">{{company.nit}}</h2>
  </div>
  <div class="d-flex justify-content-end">
    <div style="padding-right: 8rem;">
      <div class="position-absolute info-company text-white" style="padding-top: 150px;">
        <div class="options text-right">
          <label class="title-top m-0 p-0">Eventos activos</label>
          <h4 class="m-0 p-0">90</h4>
          <label class="title-top m-0 p-0">Asistentes</label>
          <h4 class="m-0 p-0">1200</h4>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 60px">
  </div>
  <section class="accions-company-icons">
    <div class="text-center">
      <button class="btn my-btn text-white" [routerLink]="['/company/profile']">
        <fa-icon [icon]="faUser" size="3x">
        </fa-icon>
      </button>
      <p>
        Mi perfil
      </p>
    </div>
    <div class="text-center">
      <button class="btn my-btn text-white" [routerLink]="['/company/events']">
        <fa-icon [icon]="faCalendar" size="3x">
        </fa-icon>
      </button>
      <p>
        Eventos
      </p>
    </div>

    <div class="text-center">
      <button class="btn my-btn text-white" [routerLink]="['/company/establishments']">
        <fa-icon [icon]="faBuilding" size="3x">
        </fa-icon>
      </button>
      <p>
        Establecimientos
      </p>
    </div>

  </section>
  <div style="padding: 2.5vh">
  </div>

  <section class="events-proximate mb-5" *ngIf="eventss.length != 0">
    <div class="container-events">
      <app-events-company [events]="eventss" [typeEvent]="'¡Tus próximos eventos!'" [index]="'0'"
                          [tittle]="'Eventos'"></app-events-company>
    </div>
  </section>
  <section class="events-proximate mb-5"  *ngIf="establishments.length != 0">
  <div class="container-events">
    <app-establishments-company [establishments]="establishments" [tittle]="'Tus establecimientos'" [typeEstablishment]="'Estos son tus establecimientos'"></app-establishments-company>
  </div>
  </section>
  <div *ngIf="establishments.length == 0 && eventss.length == 0" style="padding: 25vh"></div>
</div>
