<div class="text-center pt-5 pb-5 pl-4 pr-4 animate__animated animate__fadeInRight" style="animation-duration: 0.2s">
  <h4 class="text-white text-left">
    EDITAR
  </h4>
  <div>
    <img src="assets/icons/UserIcon.png" class="img-fluid" alt="iconUser">
    <form #formEdit="ngForm" (ngSubmit)="save()" id="form-edit">
      <div class="text-left mt-3">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="nombre" class="text-white">Nombre</label>
              <input type="text" class="form-control color-gray" id="nombre" #name="ngModel" name="name"
                     [(ngModel)]="client.name" required>
              <small id="emailHelp" class="form-text text-danger" *ngIf="!name.valid && name.touched">No puedes dejar
                este campo vacío.</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="apellido" class="text-white">Apellido</label>
              <input type="text" class="form-control color-gray" id="apellido" #lastName="ngModel" name="lastName"
                     [(ngModel)]="client.lastname" required>
              <small id="emailHelp" class="form-text text-danger" *ngIf="!lastName.valid && lastName.touched">No puedes
                dejar este campo vacío.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="birthDate" class="text-white">Fecha de nacimiento</label>
          <input type="date" class="form-control color-gray" id="birthDate" #fromDate="ngModel"
                 [(ngModel)]="client.birthdate" name="fromDate">
        </div>
        <div class="form-group">
          <label for="genre" class="text-white">Género</label>
          <div id="genre" class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="man" value="Masculino"
                     #maleGender="ngModel" name="maleGender" [(ngModel)]="client.gender" required
              >
              <label class="form-check-label text-white" for="man">Hombre</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="woman" value="Femenino"
                     #femaleGender="ngModel" name="femaleGender" [(ngModel)]="client.gender"
              >
              <label class="form-check-label text-white" for="woman">Mujer</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="other" value="Otro"
                     #otherGender="ngModel" name="otherGender" [(ngModel)]="client.gender"
              >
              <label class="form-check-label text-white" for="other">Otro</label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around mt-5">
        <button type="submit" class="btn btn-primary" [disabled]="!formEdit.form.valid">Guardar</button>
        <button type="button" class="btn btn-success" [routerLink]="['/client/profile']">Regresar</button>
      </div>
    </form>
  </div>
</div>
