<div class="my-establishment">
  <header>
    <section class="img-container"
             [style.background-image]="'url(https://cdn.pixabay.com/photo/2015/11/22/19/04/crowd-1056764_960_720.jpg)'">
    </section>
    <section class="info-company">
      <img src="assets/icons/1616694016609.jpg" alt="logo">
      <div>
        <p id="discoteque">
          <fa-icon [icon]="faClock"></fa-icon>
          19:00 - 22:00
        </p>
        <h1>Saturday Night party</h1>
        <p id="categories" class="text-uppercase">+20 -
          <fa-icon [icon]="faUser"></fa-icon>
          128 - Calle 23 # 12
        </p>
      </div>
    </section>
    <section class="interactions">
      <img src="http://pngimg.com/uploads/heart/heart_PNG51337.png" class="heart" alt="heart">
      <p class="followers">30</p>
      <div class="list-heart">
        <p class="calification">{{average}}</p>
        <div *ngFor="let start of getStars(average)" style="display: inline-flex">
          <fa-icon [icon]="faStartMedia" size=2x class="checked" *ngIf="start == undefined"></fa-icon>
          <fa-icon [icon]="faStartSolid" size=2x class="checked" *ngIf="start == true"></fa-icon>
          <fa-icon [icon]="faStart" size=2x class="checked" *ngIf="start == false"></fa-icon>
        </div>
      </div>
    </section>
    <div class="description-img">
      <div class="desciption-company">
        <p>Descripción del evento: en este apartado podra observarse la descripción que se establece al crear el
          evento.</p>
      </div>
      <section class="img-google">
        <agm-map [latitude]="10" [longitude]="10" [zoom]="15" *ngIf="!production">
          <agm-marker [latitude]="10" [longitude]="10">
            <agm-info-window>Saturday Night party</agm-info-window>
          </agm-marker>
        </agm-map>
      </section>
    </div>
  </header>
  <main>
    <section class="categories-buttons">
      <button class="my-button">Categoría</button>
      <button class="my-button">Categoría</button>
      <button class="my-button">Categoría</button>
      <button class="my-button">Categoría</button>
      <button class="my-button button-select">Selección</button>
      <button class="my-button">Categoría</button>
      <button class="my-button">Categoría</button>
      <button class="my-button">Categoría</button>
    </section>
    <section class="event-date">
      <div>
        <p class="title-date">Fecha de inicio</p>
        <p class="date-event-p">18/03/2021</p>
      </div>
      <div>
        <p class="title-date">Fecha de fin</p>
        <p class="date-event-p">29/04/2021</p>
      </div>
    </section>
    <section class="images-event">
      <div class="carousel">
        <div class="carousel-cell">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree"/>
        </div>
        <div class="carousel-cell">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade"/>
        </div>
        <div class="carousel-cell">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle"/>
        </div>
        <div class="carousel-cell">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose"/>
        </div>
        <div class="carousel-cell">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" alt="contrail"/>
        </div>
        <div class="carousel-cell">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" alt="golden hour"/>
        </div>
        <div class="carousel-cell">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" alt="flight formation"/>
        </div>
      </div>

    </section>
    <section class="opinions">
      <section class="opinions-title">
        <p class="opinions-text">Opiniones</p>
        <div class="list-hear-opinions">
          <p>{{average}}</p>
          <div *ngFor="let start of getStars(average)" style="display: inline-flex">
            <fa-icon [icon]="faStartMedia" size=2x class="checked" *ngIf="start == undefined"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked" *ngIf="start == true"></fa-icon>
            <fa-icon [icon]="faStart" size=2x class="checked" *ngIf="start == false"></fa-icon>
          </div>
        </div>
      </section>
      <section class="my-califications">
        <div *ngFor="let op of opinion">
          <div class="opinion-calification">
            <div class="clasification-left">
              <p class="calification">{{op.nStart}}</p>
              <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            </div>
            <div class="progress">
              <p class="red-progress" [style.width]="op.percentage"></p>
            </div>
            <p class="n-iterations">{{op.coincidence}}</p>
          </div>
        </div>
      </section>
    </section>
    <section class="comments" *ngFor="let comment of comments2">
      <div class="comment">
        <div class="title-comment">
          <p>{{comment.title}}</p>
          <div class="tittle-comment-list-heart">
            <div *ngFor="let start of getStars(comment.nStar)">
              <fa-icon [icon]="faStartSolid" size=2x class="checked" *ngIf="start"></fa-icon>
              <fa-icon [icon]="faStart" size=2x class="checked" *ngIf="!start"></fa-icon>
            </div>
          </div>
        </div>
        <div class="user-date-comment">
          <p class="name-user">{{comment.author}}</p>
          <p class="date-user">{{comment.date}}</p>
        </div>
        <p class="user-comment">{{comment.comment}}</p>
      </div>
    </section>
    <a class="text-center" (click)="onScroll()" *ngIf="actualPage != finishPage">Ver más</a>
    <a class="text-center" (click)="hide()" *ngIf="actualPage == finishPage">Ocultar</a>
  </main>
</div>
