<div class="my-establishment" *ngIf="establishment">
  <header>
    <section class="img-container"  [style.background-image]="'url('+ establishment.photo[0] + ')'">
    </section>
    <section class="info-company">
      <img src="{{establishment.logo}}" alt="logo">
      <div>
        <p id="discoteque">{{getTypes()}}</p>
        <h1>{{establishment.name}}</h1>
        <p id="categories" class="text-uppercase">{{getCategories()}}</p>
      </div>
    </section>
    <section class="interactions">
      <img src="http://pngimg.com/uploads/heart/heart_PNG51337.png" class="heart" alt="heart">
      <p class="followers">30</p>
      <div class="list-heart">
        <p class="calification">3.5</p>
        <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
        <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
        <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
        <fa-icon [icon]="faStart" size=2x class="checked"></fa-icon>
        <fa-icon [icon]="faStart" size=2x class="checked"></fa-icon>
      </div>
    </section>
    <div class="description-img">
      <div class="desciption-company">
        <p>{{establishment.description}}</p>
      </div>
      <section class="img-google">
        <agm-map [latitude]="establishment.latitude" [longitude]="establishment.longitude" [zoom]="15">
          <agm-marker [latitude]="establishment.latitude" [longitude]="establishment.longitude">
            <agm-info-window>{{establishment.name}}</agm-info-window>
          </agm-marker>
        </agm-map>
      </section>
    </div>
  </header>
  <main>
    <section class="events-proximate" *ngIf="uncomingEvents.length != 0">
      <p class="event-proximante-title">!Próximos eventos!</p>
      <div class="container-events">
        <app-events-company [events]="uncomingEvents" [index]="'0'" [tittle]="''" [typeEvent]="''"></app-events-company>
      </div>
    </section>
    <section class="events-proximate" *ngIf="terminatedEvents.length != 0">
      <p class="event-proximante-title">Eventos pasados</p>
      <div class="container-events">
        <app-events-company [events]="terminatedEvents" [index]="'0'" [tittle]="''" [typeEvent]="''"></app-events-company>
      </div>
    </section>
    <section class="opinions">
      <section class="opinions-title">
        <p class="opinions-text">Opiniones</p>
        <div class="list-hear-opinions">
          <p>3.5</p>
          <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          <fa-icon [icon]="faStart" size=2x class="checked"></fa-icon>
          <fa-icon [icon]="faStart" size=2x class="checked"></fa-icon>
        </div>
      </section>
      <section class="my-califications">
        <div class="opinion-calification">
          <div class="clasification-left">
            <p class="calification">5</p>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
          <div class="progress">
            <p class="progress-bar-5 red-progress"></p>
            <p class="progress-bar-5-5 black-progress"></p>
          </div>
          <p class="n-iterations">13</p>
        </div>
        <div class="opinion-calification">
          <div class="clasification-left">
            <p class="calification">4</p>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
          <div class="progress">
            <p class="progress-bar-4 red-progress"></p>
            <p class="progress-bar-4-4 black-progress"></p>
          </div>
          <p class="n-iterations">6</p>
        </div>
        <div class="opinion-calification">
          <div class="clasification-left">
            <p class="calification">3</p>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
          <div class="progress">
            <p class="progress-bar-3 red-progress"></p>
            <p class="progress-bar-3-3 black-progress"></p>
          </div>
          <p class="n-iterations">4</p>
        </div>
        <div class="opinion-calification">
          <div class="clasification-left">
            <p class="calification">2</p>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
          <div class="progress">
            <p class="progress-bar-empty"></p>
          </div>
          <p class="n-iterations">0</p>
        </div>
        <div class="opinion-calification">
          <div class="clasification-left">
            <p class="calification">1</p>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
          <div class="progress">
            <p class="progress-bar-empty"></p>
          </div>
          <p class="n-iterations">0</p>
        </div>
      </section>
    </section>
    <section class="comments">
      <div class="comment">
        <div class="title-comment">
          <p>Excelente discoteca, pero muy caro</p>
          <div class="tittle-comment-list-heart">
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
        </div>
        <div class="user-date-comment">
          <p class="name-user">Juan funito</p>
          <p class="date-user">22/03/2021</p>
        </div>
        <p class="user-comment">Todo muy bonito pero el precio de los licores era supremamente alto, esto le resta
          bastantes puntos. Todo muy bonito pero el precio de los licores era supremamente alto, esto le resta
          bastantes puntos Todo muy bonito pero el precio de los licores era supremamente alto, esto le resta
          bastantes puntos</p>
      </div>
      <div class="comment">
        <div class="title-comment">
          <p>5 estrellas</p>
          <div class="tittle-comment-list-heart">
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
        </div>
        <div class="user-date-comment">
          <p class="name-user">Alfredo alcachofa</p>
          <p class="date-user">22/03/2021</p>
        </div>
        <p class="user-comment">Todo muy bonito pero el precio de los licores era supremamente alto, esto le resta
          bastantes puntos.</p>
      </div>
      <div class="comment">
        <div class="title-comment">
          <p>Un poco de todo</p>
          <div class="tittle-comment-list-heart">
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked"></fa-icon>
          </div>
        </div>
        <div class="user-date-comment">
          <p class="name-user">Sofia rarini</p>
          <p class="date-user">22/03/2021</p>
        </div>
        <p class="user-comment">Todo muy bonito pero el precio de los licores era supremamente alto, esto le resta
          bastantes puntos.</p>
      </div>
    </section>
  </main>
</div>
