<div class="d-flex align-items-center justify-content-center animate__animated animate__fadeInRight"
     style="animation-duration: 0.2s" id="container" *ngIf="company">
  <div id="log-in">
    <div class="text-center pl-4 pr-4 pt-4 pb-4">
      <h4 class="text-white text-center mb-3">EDITAR</h4>
      <div>
        <img src="assets/icons/UsersIcons.png" class="img-fluid" alt="iconUser" id="ImageUser">
        <form #formEdit="ngForm" (ngSubmit)="save()" id="form-edit">
          <div class="text-left mt-3">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="nombre" class="text-white">Nombre</label>
                  <input type="text" class="form-control color-gray" id="nombre" #name="ngModel" name="name"
                         [(ngModel)]="company.companyName" required>
                  <small id="emailHelp1" class="form-text text-danger" *ngIf="!name.valid && name.touched">No puedes dejar
                    este campo vacío.</small>
                  <small id="buildingHelp" class="form-text text-danger"
                         *ngIf="name.valid && name.touched && !isNameLenght()">El nombre de la empresa debe tener menos de 150 caracteres</small>
                  <small id="buildingHelp2" class="form-text text-danger"
                         *ngIf="name.valid && name.touched && errorMessageName">{{errorMessageName}}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="nitng" class="text-white">NIT</label>
                  <input type="text" class="form-control color-gray" id="nitng" #nitng="ngModel" name="nitng"
                         [(ngModel)]="company.nit" required>
                  <small id="contactN" class="form-text text-danger"
                         *ngIf="!nitng.valid && nitng.touched">Debes
                    ingresar el NIT de tu empresa.</small>
                  <small id="emailHelp" class="form-text text-danger"
                         *ngIf="nitng.valid && nitng.touched && !isNit()">El NIT debe ser válido. Ej: 123456789-1</small>
                  <small id="emailHelp" class="form-text text-danger"
                         *ngIf="nitng.valid && nitng.touched && errorMessageNIT">{{errorMessageNIT}}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="address" class="text-white">Dirección</label>
                  <input type="text" class="form-control color-gray" id="address" #address="ngModel" name="address"
                         [(ngModel)]="company.address" required>
                  <small id="addrHelp" class="form-text text-danger"
                         *ngIf="!address.valid && address.touched">Debes
                    ingresar la dirección física de tu empresa.</small>
                  <small id="contactN" class="form-text text-danger"
                         *ngIf="address.valid && address.touched && !isAddress()">La dirección debe tener menos de 150 caracteres</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="contactNumber" class="text-white">Número de contacto</label>
                  <input type="text" class="form-control color-gray" id="contactNumber" #contactNumber="ngModel" name="contactNumber"
                         [(ngModel)]="company.contactNumber" required>
                  <small id="contactN" class="form-text text-danger"
                         *ngIf="!contactNumber.valid && contactNumber.touched">Debes
                    ingresar el número de contacto de tu empresa.</small>
                  <small id="contactN" class="form-text text-danger"
                         *ngIf="contactNumber.valid && contactNumber.touched && !isContactNumber()">El número de contacto debe tener menos de 50 caracteres</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn mt-3 border-circ btn-outline-info w-100" [routerLink]="['/company/profile']">Regresar</button>
            </div>
            <div class="col">
              <button type="submit" class="btn mt-3 border-circ btn-outline-primary w-100" [disabled]="!formEdit.valid || !isValidAll()">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
