<div class="animate__animated animate__fadeInRight myDiv" *ngIf="admin">
  <header>
    <section class="margin-1200 mt-5 mb-5">
      <p class="text-left text-name">¡Bienvenido!</p>
      <p class="text-left text-lastname overflow-hidden" style="margin-left: 6rem">ADMIN</p>
    </section>
    <div class="d-flex justify-content-end info-admin">
      <div style="padding-right: 8rem;">
        <div class="position-absolute info-company text-white" style="padding-top: 150px;">
          <div class="options text-right">
            <label class="title-top m-0 p-0">Usuarios</label>
            <h4 class="m-0 p-0">123</h4>
            <label class="title-top m-0 p-0">Empresas</label>
            <h4 class="m-0 p-0">1200</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p class="text-desc-profile">Este es tu perfil</p>
      <p class="text-desc-change">¡Cámbialo cuando quieras!</p>
    </div>
  </header>
  <main>
    <section class="margin-800 text-info">
      <p>{{admin.name}}</p>
      <p>{{admin.lastname}}</p>
    </section>
    <section class="margin-1200 btn-list">
      <button class="btn-custom" [routerLink]="['/admin/edit']">Editar</button>
      <button class="btn-custom" [routerLink]="['/admin/security']">Seguridad</button>
    </section>
  </main>
</div>
