<div class="text-center pt-5 pb-5 pl-4 pr-4">
  <h4 class="text-white text-left">
    MI PERFIL
  </h4>
  <div>
    <img src="assets/icons/UserIcon.png" class="img-fluid" alt="iconUser">
    <div class="text-left mt-5">
      <div class="border-profile mb-4">
        <label class="text-white ml-4">
          <strong>
            Nombre
          </strong></label>
        <h4 class="profile-font text-center">
          {{admin.name}} {{admin.lastname}}
        </h4>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger m-3" data-toggle="modal" data-target="#exampleModal">Eliminar cuenta
      </button>
      <button type="button" class="btn btn-primary m-3" routerLink="['admin/edit']">Editar</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success m-3" routerLink="['admin/security']">Seguridad</button>
    </div>
  </div>
</div>
