<!-- Modal -->
<div class="modal fade" id="commentEventModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header m-0 p-0" style="border: none;">
        <button type="button" class="close mr-1" data-dismiss="modal" aria-label="Close"
                style="font-size: 70px; outline: none">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="ralewayFont modal-body text-center border-content-register">
        <h1 style="font-family: Lovelo,serif !important;" class="m-0 p-0">FarrApp</h1>
        <div class="titles">
          <p class="event-title-1">¡Hola! Julián</p>
          <p class="event-title-2">ROMERO</p>
        </div>
        <p class="event-title-3">Nos interesa tu opinión.</p>
        <p class="event-title-4">¡Dale una calificación al pasado evento!</p>
        <div class="list-heart">
          <p class="qualification">{{qualification}}</p>
          <div style=" display: inline-flex;cursor: pointer;margin-left: 0.5rem;animation-duration: 0.2s"
               *ngFor="let star of stars; index as i" (click)="setStarsClick(i)">
            <fa-icon [icon]="faStart" size=2x class="checked" *ngIf="star == false"></fa-icon>
            <fa-icon [icon]="faStartSolid" size=2x class="checked" *ngIf="star == true"></fa-icon>
          </div>
        </div>
        <div class="input-group mt-4">
          <div class="input-group-prepend">
            <div class="input-group-text icon">
              <fa-icon [icon]="faStart"></fa-icon>
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Título de la opinión" required>
        </div>
        <section class="description-text">
          <p class="event-title-5">Cuéntanos cómo te fue</p>
          <textarea rows="5" class="txt-area"></textarea>
        </section>
        <button class="btn-send-comment">Enviar comentario</button>
      </div>
    </div>
  </div>
</div>
