<div class="p-3" style="background: #f9f9f9">
  <div class="align-middle">
  <h5 class="font-weight-bolder mt-2 mb-4 float-left" style="color: #36424a !important;">
    Entradas
  </h5>
  <button class="btn btn-success float-right" style="border-radius: 50%">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
  </div>
  <div class="clearfix"></div>
  <div *ngIf="tickets">
    <div *ngFor="let ticket of tickets; index as i">
      <app-card-ticket-type [ticket]="ticket" (onDelete)="removeTicket(i)"></app-card-ticket-type>
    </div>
  </div>
</div>
