<div class="text-center pt-5 pb-5 pl-4 pr-4">
  <h4 class="text-white text-left">
    MI PERFIL
  </h4>
  <div>
    <img src="assets/icons/UserIcon.png" class="img-fluid" alt="iconUser">
    <div class="text-left mt-5">
      <div class="border-profile mb-4">
        <h4 class="profile-font ml-5">
          {{client.name}} {{client.lastname}}
        </h4>
      </div>
      <div class="border-profile mb-4">
        <h4 class="profile-font ml-5">
          {{client.gender}}
        </h4>
      </div>
      <div class="border-profile mb-4">
        <h4 class="profile-font ml-5">
          {{client.birthdate}}
        </h4>
      </div>
    </div>
    <div class="d-flex justify-content-around mt-5">
      <button type="button" class="btn btn-danger">Eliminar cuenta</button>
      <button type="button" class="btn btn-primary">Editar</button>
      <button type="button" class="btn btn-success" [routerLink]="['']">Regresar</button>
    </div>
  </div>
</div>
