<div class="container-fluid">

  <form #formClient="ngForm" (ngSubmit)="onSubmit()" class="text-center p-3">

    <p id="createAccountTittle" class="h4 p-4">Crear cuenta de usuario</p>

    <div class="input-group mb-4 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="faIdCard" class="fa-lg"></fa-icon>
        </div>
      </div>

      <input type="text" class="form-control " placeholder="Nombre"
             #firstNameClient="ngModel" name="firstNameClient" [(ngModel)]="nameClient" required>
    </div>


    <div class="input-group mb-4 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="faIdCard" class="fa-lg"></fa-icon>
        </div>
      </div>
      <input mdbInput type="text" class="form-control" placeholder="Apellido"
             #lastNameClient="ngModel" name="lastNameClient" [(ngModel)]="lastName" required>
    </div>

    <div class="input-group mb-4 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="faUser" class="fa-lg"></fa-icon>
        </div>
      </div>
      <input mdbInput type="email" id="email"  class="form-control" placeholder="Correo electronico"
             #emailClient="ngModel" name="emailClient" [(ngModel)]="email" email
             pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
    </div>

    <div class="input-group mb-4 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="faLock" class="fa-lg"></fa-icon>
        </div>
      </div>
      <input mdbInput type="password" id="password" class="form-control" placeholder="Contraseña"
             #passwordClient="ngModel" name="passwordClient" [(ngModel)]="password" required>
    </div>

    <div class="input-group mb-4 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="faLock" class="fa-lg"></fa-icon>
        </div>
      </div>
      <input mdbInput type="password" id="passwordConfirm" class="form-control" placeholder="Confirmar contraseña" required>
    </div>


    <div id="gender" class="mb-4">
      <div class="form-check-inline">
        <h5>Genero</h5>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="male">Hombre
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="female">Mujer
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="other">Otro
        </label>
      </div>
    </div>

    <div class="input-group mb-4 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon [icon]="faCalendarDay" class="fa-lg"></fa-icon>
        </div>
      </div>
        <input mdbInput placeholder="Fecha de nacimiento" type="date" class="form-control"
               #birthdateClient="ngModel" name="bithdateClient" [(ngModel)]="birthdate" required>
    </div>


    <div class="container p-5 w-75 col-md-12">
      <button id="acceptRegister" class="btn btn-primary" type="submit">Registrar</button>
    </div>

  </form>
</div>
