/* You can add global styles to this file, and also import other style files */
body{
  background: #2B2A30 !important;
  font-family: Raleway, serif;
}

body {
  background-color:  #2B2A30 !important;
}

body {
  background-color:  #2B2A30 !important;
}
